
{% block maincontain %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DS Group</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css"> -->
  <link rel="stylesheet" href="/static/assets/vendors/jvectormap/jquery-jvectormap.css">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/static/assets/css/demo/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/static/assets/images/favicon.png" />

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://codepen.io/skjha5993/pen/bXqWpR.css">
<style>
  a p img {
    width: 100px;
    height: 100px;
    border-radius: 60%;
    -webkit-border-radius: 50%;
  }
</style>
</head>

<div class="row">
  <div class="col-sm-1 form-group">
  </div>
  <div class="col-sm-10 form-group">
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
      <div class="mdc-card p-16" style="box-shadow: 5px 5px 5px 5px #ccc;margin-top:50px;">
        <div class="row">
          <div class="col-sm-3 form-group">

            <a href="#">
              <p><img src="{{view_profile.profile.url}}" alt=""></p>
            </a>
          </div>
          <div class="col-sm-6 form-group">
            <h5 style="margin-top:30px;text-align:center;">Name :&nbsp; &nbsp;{{view_profile.intern_name}}</h5>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hoverable" border="1" style="width:100%;">
            <thead>
              <tr>
                <th style="color:black;text-align:center;" class="text-left">Email</th></b>
                <th style="text-align:left;">{{view_profile.email}}</th>
                <th style="color:black; text-align:left;">Address</th></b>
                <th style="text-align:left;">{{view_profile.address}}</th>

              </tr>
              <tr>
                <th style="color:black;" class="text-left">Gender</th></b>
                <th style="text-align:left;">{{view_profile.gender}}</th>
                <th style="color:black;text-align:left;">Pin code</th></b>
                <th style="text-align:left;">{{view_profile.pin_code}}</th>

              </tr>
              <tr>
                <th style="color:black;" class="text-left">Pan Card</th></b>
                <th style="text-align:left;">{{view_profile.pan_card}}</th>
                <th style="color:black;text-align:left;">Date Of Birth</th></b>
                <th style="text-align:left;">{{view_profile.date_of_birth}}</th>
              </tr>
              <tr>

                <th class="text-left" style="color:black;">City</th></b>
                <th style="text-align:left;">{{view_profile.city}}</th>
                <th style="color:black;text-align:left;">Blood Group</th></b>
                <th style="text-align:left;">{{view_profile.blood_group}}</th>
              </tr>
              <tr>
                <th style="color:black;" class="text-left">State</th></b>
                <th style="text-align:left;">{{view_profile.state}}</th>
                <th style="color:black;text-align:left;"> Phone Number</th></b>
                <th style="text-align:left;">{{view_profile.phone_no}}</th>
              </tr>
              <tr>
                <th style="color:black;" class="text-left">Join Date</th></b>
                <th style="text-align:left;">{{view_profile.join_date}}</th>
                <th style="color:black;text-align:left;"> Aadhaar Number</th></b>
                <th style="text-align:left;">{{view_profile.aadhar_no}}</th>
              </tr>
               <tr>
                <th style="color:black;" class="text-left">Father's name</th></b>
                <th class="text-left">{{view_profile.father_name}}</th>
                <th style="color:black;text-align:left;">Father's Occupation</th></b>
                <th class="text-left">{{view_profile.father_occupation}}</th>
              </tr>
              
              <tr>
                <th style="color:black;" class="text-left">School Name</th></b>
                <th style="text-align:left;">{{view_profile.school_name}}</th>
                <th style="color:black;text-align:left;"> board</th></b>
                <th class="text-left">{{view_profile.board}}</th>

              </tr>
              <tr>
                <th style="color:black;" class="text-left"> Passing Year</th></b>
                <th style="text-align:left;">{{view_profile.passing_year}}</th>
                <th style="color:black;text-align:left;">High School Name</th></b>
                <th style="text-align:left;">{{view_profile.high_school_name}}</th>
              </tr>
              <tr>
                <th style="color:black;" class="text-left">High School Board</th></b>
                <th style="text-align:left;">{{view_profile.high_school_board}}</th>
                <th style="color:black;text-align:left;">High School Passing Year</th></b>
                <th style="text-align:left;">{{view_profile.high_school_passing_year}}</th>
              </tr>

              <tr>
                <th style="color:black;" class="text-left">Graduation Univercity</th></b>
                <th style="text-align:left;">{{view_profile.graduation_univercity}}</th>
                <th style="color:black;text-align:left;">Graduation Degree</th></b>
                <th style="text-align:left;">{{view_profile.graduation_degree}}</th>
              </tr>

              <tr>
                <th style="color:black;" class="text-left">Graduation Year</th></b>
                <th style="text-align:left;">{{view_profile.graduation_year}}</th>
                <th style="color:black;text-align:left;">Post Graduation Univercity</th></b>
                <th style="text-align:left;">{{view_profile.post_graduation_univercity}}</th>
              </tr>

              <tr>
                <th style="color:black;" class="text-left">Post Graduation Degree</th></b>
                <th style="text-align:left;">{{view_profile.post_graduation_degree}}</th>
                <th style="color:black;text-align:left;">Post Graduation Year</th></b>
                <th style="text-align:left;">{{view_profile.post_graduation_year}}</th>
              </tr>

              <tr>
                <th style="color:black;" class="text-left">Other Univercity</th></b>
                <th style="text-align:left;">{{view_profile.other_univercity}}</th>
                <th style="color:black;text-align:left;">Other Degree</th></b>
                <th style="text-align:left;">{{view_profile.other_degree}}</th>
              </tr>

              <tr>
                <th style="color:black;text-align:left;" class="text-left">Other Year</th></b>
                <th style="text-align:left;">{{view_profile.other_year}}</th>

              </tr>

            </thead>
          </table>
        </div>
      </div>
    </div></br>

  </div>

  <div class="col-sm-1 form-group">
       <button class="btn btn-primary" style="margin-left:15px;margin-top:60px;"> <a href="javascript:window.print()" style="color:white;">print </button></a>
  </div>

</div>
</body>
</html>
{% endblock maincontain %}
